
%h1
	=@link.title
%p
	=link_to "Read article", @link.url, target: "_blank", class: "url"
%br
%table
	%tr
		%td= link_to 'Edit', edit_link_path
		%td= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }
%br
%p
	=link_to "Add a New Article", new_link_path
